// Core UI
@import '~@coreui/coreui/scss/coreui';

// Core UI Icons
$coreui-icons-font-path: "~@coreui/icons/fonts";
$coreui-icons-prefix: "cil-";
@import '~@coreui/icons/scss/free';
$coreui-icons-prefix: "cib-";
@import '~@coreui/icons/scss/brand';

// Font Awsome
@import "node_modules/font-awesome/scss/font-awesome.scss";
